<html ng-app='app'>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-resource.min.js"></script>
    <script  src='config.js'></script>
    <script  src='app.js'></script>
  </head>
  <body ng-controller="PhotosController as c">
    <div class="panel">
      <ul>
        <li>Все фотографии</li>
      </ul>
      <b>Альбомы</b>
      <ul class="albums">
        <li ng-repeat="album in albums">{{album.title}}</li>
      </ul>
      <b>Теги</b>
      <ul class="tags">
        <li ng-repeat="tag in tags">{{tag.title}} </li>
      </ul>
    </div>
    <div class="photos_block">
      <ul class="thumbs">        
        <li ng-repeat="photo in photos" ng-click="c.setIndex($index)">
          <img ng-src='{{photo.img.XXS.href}}' load-dispatcher />
        </a>
      </ul>
      <img class="photo_frame" ng-src="{{current_image}}"></img>
      <div class='codes' ng-show="photo">
        <h4>Коды</h4>
        <br/>
        Link: 
        <select ng-model="code_url">
          <optgroup label="Изображение">
            <option data-url="{{img.href}}" ng-repeat="img in photo.img" value="{{img.href}}">{{img.width}}x{{img.height}}</option>
          </optgroup>
          <optgroup label="Страница">    
            <!-- <option>Данную страницу</option> -->
            <option value="{{photo.links.alternate}}">Страницу на яндекс.фотках</option>
          </optgroup>
        </select>
        Preview:
        <select ng-model="code_thumb">
            <option ng-repeat="img in photo.img" value="{{img.href}}">{{img.width}}x{{img.height}}</option>
        </select>
        <div ng-shows="code_url && code_thumb">
          <pre>&lt;a href="{{code_url}}"&gt;&lt;img src="{{code_thumb}}">&lt;/a&gt;</pre>
          <a href="{{code_url}}"><img src="{{code_thumb}}"></a>
        </div>
      </div>
    </div>
  </body>
</html>


<!--
{{photo.title}}
created: {{card.created}}<br/>
album: {{card.album}}<br/>
tags: {{card.tags}}


    <div ng-controller="PhotosController as c">
      <div class="fotorama" data-nav="thumbs">
        <a ng-repeat="photo in c.photos" href="{{photo.img.orig.href}}">
          <img ng-src='{{c.thumb(photo).href}}' />
        </a>
      </div>
    </div>


      <div class="fotorama" data-nav="thumbs" data-auto="false">
        <a ng-repeat="photo in photos" href="{{photo.img.XXL.href}}">
          <img ng-src='{{photo.img.S.href}}' load-dispatcher />
        </a>
      </div>
 -->
