body {
	margin: 0;
}

#photos_block {
	width: 80%;
}

#photos_block .photo_frame {
	width: 100%;
}

.panel {
	float: right;
	width: 20%;
	background: #eee;
	height: 100%;
}

.panel ul.tags {
	list-style-type: none;
	padding: 0;
}

.panel ul.tags li {
	display: inline;
}

.codes {
	width: 100%;
}

.codes pre {
	white-space: normal;
	background: #ddd;
}

ul.nav_list li.active a {
	color: red;
	text-decoration: none;
}

ul.thumbs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	white-space: nowrap;
}

ul.thumbs li {
	margin: 0;
	display: inline-block;
	border: solid white;
	border-width: 3px 1px 3px 1px;
	opacity: 0.7;
	cursor: pointer;
}

ul.thumbs li.active {
	border-color: blue;
	opacity: 1;
	border-width: 3px;
}

ul.thumbs li.ng-enter,
ul.thumbs li.ng-leave,
ul.thumbs li.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

ul.thumbs li.ng-enter,
ul.thumbs li.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

ul.thumbs li.ng-move.ng-move-active,
ul.thumbs li.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

ul.thumbs li.ng-leave {
  opacity: 1;
  overflow: hidden;
}

ul.thumbs li.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}